<!-- Alert message when user added into db -->
{{#if userUpdated}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

<div class="container pt-4 pb-3">
    <!-- Link navigation -->
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
    </nav>
    <!-- Edit user form -->
    {{>add_edit_user_form}}
</div>